<% include partials/header %>

<style>
    body {
        padding-top: 3.5rem;
        padding-bottom: 3rem;
        color: #5a5a5a;
    }
</style>

<main role="main">

    <div><img src="/ui/images/default/banner.png" class="img-fluid" alt="Responsive image"></div>

    <div class="container marketing">

        <div class="landing-tara-info">
            <!-- <div class="container mt-5">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div class="text-center mb-3">
                            <h2>What is TARA?
                            </h2>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div> -->

            <div class="row mt-5">
                <div class="col-md-4 align-middle">
                    <img class="img-fluid mx-auto mt-5 rounded-lg" width="500" height="500"
                        src="/ui/images/landing/feature3.png" preserveAspectRatio="xMidYMid slice" focusable="false"
                        aria-label="Placeholder: 500x500">
                    </img>
                </div>
                <div class="col-md-8 align-middle">
                    <p>
                    <h3><strong>Technology Availability Readiness Atlas (TARA):</strong></h3>
                    </p>
                    <p>
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                                <ul>
                                    <li>TARA provides the opportunity
                                        to make mining
                                        safer,
                                        more efficient and cost-effective;</li>
                                </ul>
                                <tr>
                                    <th>
                                        <strong style="font-size: larger;">
                                            Technology:
                                        </strong></th>
                                    <td style="color: #5A5A5A;">TARA aims to capture technologies
                                        that South African Original Equipment Manufacturers (OEMs) have developed or
                                        are
                                        developing
                                        for the mining industry.</td>
                                </tr>
                                <tr>
                                    <th>
                                        <strong style="font-size:larger">
                                            Availability:
                                        </strong></th>
                                    <td style="color: #5A5A5A;">Allows Original Equipment
                                        Manufacturers (OEMs) to demonstrate their current commercially available
                                        technologies.</td>
                                </tr>
                                <tr>
                                    <th>
                                        <strong style="font-size: larger;">Readiness:</strong></th>
                                    <td style="color: #5A5A5A;">Allows
                                        OEMs to demonstrate (with
                                        necessary protection) technologies which are being developed but not
                                        necessarily
                                        commercially available yet and/or explore partnerships or collaboration
                                        opportunities.</td>
                                </tr>
                                <tr>
                                    <th>
                                        <strong style="font-size: larger;">Atlas:</strong>
                                    </th>
                                    <td style="color: #5A5A5A;">Allows for
                                        better access and increased
                                        visibility of equipment and technologies to the mining industry.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </p>
                </div>
            </div>
        </div>

        <hr class="my-5">

        <div class="landing-tara-objectives">
            <div class="row">
                <div class="col-md-8">
                    <p>
                    <p>&nbsp;</p>
                    <h3><strong>TARA Objectives</strong></h3>
                    <ul>
                        <li>provide the mining industry with access to the capabilities and offerings of local OEMs;
                        </li>
                        <li>providing specification and state of readiness of technologies and equipment offered by
                            local OEMs;
                        </li>
                        <li>create a platform for local suppliers and products to access the local mining
                            supply-chain;
                        </li>
                        <li>provide researchers with information catalogues about available Products;</li>
                        <li>validation of equipment specifications as claimed by the OEM.</li>
                    </ul>
                    </p>
                    <p>
                    <h3><strong>Who will benefit from this site:</strong></h3>
                    <ul>
                        <li>Mining houses: awareness of the various equipment and technologies which will improve
                            product selection decision making;</li>
                        <li>OEMs: a central platform linking their offerings with potential clients;</li>
                        <li>Researchers.</li>
                    </ul>
                    </p>
                </div>
                <div class="col-md-4 align-middle text-center">
                    <img class="img-fluid mx-auto mt-5 rounded-lg" width="500" height="500"
                        src="/ui/images/landing/feature4.png" preserveAspectRatio="xMidYMid slice" focusable="false"
                        aria-label="Placeholder: 500x500">
                    </img>
                </div>
            </div>
        </div>

        <hr class="my-5">

        <div class="landing-mmp-info">
            <div class="row">
                <div class="col-md-6 align-middle text-center">
                    <img class="img-fluid mx-auto mt-5" width="450" height="450" src="/ui/images/landing/feature1.png"
                        preserveAspectRatio="xMidYMid slice" focusable="false" aria-label="Placeholder: 500x500">
                    </img>
                </div>
                <div class="col-md-6">
                    <p>
                    <h3><strong>The Establishment of the Mandela Mining Precinct:</strong></h3>
                    <ul>
                        <li>established in 2018 as a public-private collaboration between government and industry;
                        </li>
                        <li>in tribute to the legacy of President Mandela, who brought people together to work on
                            challenges, similarly the Mandela Mining Precinct brings together minds for mines to
                            address
                            challenges in mining.
                        </li>
                    </ul>
                    </p>
                    <p>
                    <h3><strong>The Mandela Mining Precinct aims to:</strong></h3>
                    <ul>
                        <li>be the vehicle for a Healthy, Safe, Innovative, Transformative & Economically viable
                            mining industry;</li>
                        <li>be an enabler for the creation of technological solutions for the benefit of the South
                            African Mining Industry, then SADC operations and ultimately into the rest of the
                            African continent;</li>
                        <li>revive mining via the <strong>South African Mining Extraction Research, Development and
                                Innovation (SAMERDI)</strong> initiative:</li>
                        <p>
                        <ul>
                            <li>Longevity of current mining (LOCM)</li>
                            <li>Mechanisation - Drill and Blast (MDB)</li>
                            <li>Mechanisation - Drill and Blast (MDB)</li>
                            <li>Advance Orebody Knowledge (AOK)</li>
                            <li>Real-time Information Management Systems (RTIMS)</li>
                            <li>Successful Applications of Technology Centered around People (SATCAP)</li>
                        </ul>
                        </p>
                    </ul>
                    </p>
                </div>

            </div>
        </div>

        <hr class="my-5">

        <div class="landing-memsa-info">
            <div class="row">
                <div class="col-md-7 mt-5">
                    <p>
                    <h3><strong>Establishment of Mining Equipment Manufacturers of South Africa (MEMSA):</strong>
                    </h3>
                    <ul>
                        <li>modernisation of mining will require local technological innovations to be developed;
                        </li>
                        <li>displacement of imports with South African products;
                        </li>
                        <li>MEMSA as a Cluster is supported the Department of Trade and Industry;
                        </li>
                        <li>building partnerships with state and private sector bodies to increase communication and
                            leverage collaboration towards cluster objectives;</li>
                        <li>establish South African manufacturers as global leaders in narrow-reef, hard rock mining
                            systems.</li>
                    </ul>
                    </p>
                    <p>
                    <h3><strong>MEMSA’s Vision:</strong></h3>
                    <p><strong><em>To position South African Mining Capital Goods, Components & Product
                                manufacturers as
                                a cost competitive, innovative & transformative Industrial Cluster who are the
                                preferred
                                Suppliers to local, regional and global markets.</em></strong></p>
                    </p>
                </div>
                <div class="col-md-5 align-middle text-center">
                    <img class="img-fluid mx-auto mt-5" width="600" height="600" src="/ui/images/landing/feature2.png"
                        preserveAspectRatio="xMidYMid slice" focusable="false" aria-label="Placeholder: 500x500">
                    </img>
                </div>
            </div>
        </div>

        <hr class="my-5">

        <div class="landing-quick-search">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="text-center mt-3">
                            <h2 class="mb-4">Quick Search</h2>
                            <h5>Use the icons below to select the Mining Cycle<sup><button id="mining-cycles-info"
                                        type="button" class="btn btn-link" data-toggle="popover" title="Mining Cycles"
                                        data-content="Mining Cycles: Mine Development, Access Development, Stoping, Logistics"><i
                                            class="fas fa-info-circle"></i></button></sup>, followed by the Mining
                                Method<sup><button id="mining-method-info" type="button" class="btn btn-link"
                                        data-toggle="popover" title="Mining Methods"
                                        data-content="Mining Methods: Drilling, Blasting, Cleaning, Supporting, Services"><i
                                            class="fas fa-info-circle"></i></button></sup>
                                to see a
                                filtered
                                list of equipment for your selection
                            </h5>
                        </div>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-lg-1"></div>
                <div class="col-lg-4 text-center mb-5">
                    <div class="accordion" id="accordion">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <img id="mine-development-img" class="bd-placeholder-img rounded-circle" width="250"
                                height="250" src="/ui/images/landing/mine-development-icon.png" alt="mine-development"
                                preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                                aria-label="Placeholder: 140x140">
                        </button>
                        <h2 class="mt-3">Mine Development</h2>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="row">
                                <div class="col-md-4">


                                    <form name="test-form" class="form-inline" action="/equipment/filter" method="GET">
                                        <input value="Mine Development,Drilling,None,None" ,None type="hidden"
                                            name="filter">
                                        <!-- <input id="test-input" value="Mine Development,Drilling,None,None"
                                            name="filter"> -->
                                        <button onclick="submitGraphicalFilterTerms(this)"
                                            class="form-control btn btn-secondary m-2" type="submit">Drilling
                                        </button>
                                    </form>


                                </div>
                                <div class="col-md-4">
                                    <form class="form-inline" action="/equipment/filter" method="GET">
                                        <input value="Mine Development,Blasting,None,None,None" type="hidden"
                                            name="filter">
                                        <button onclick="submitGraphicalFilterTerms(this)"
                                            class="form-control btn btn-secondary m-2" type="submit">Blasting</button>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <form class="form-inline" action="/equipment/filter" method="GET">
                                        <input value="Mine Development,Cleaning,None,None,None" type="hidden"
                                            name="filter">
                                        <button onclick="submitGraphicalFilterTerms(this)"
                                            class="form-control btn btn-secondary m-2" type="submit">Cleaning</button>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <form class="form-inline" action="/equipment/filter" method="GET">
                                        <input value="Mine Development,Supporting,None,None,None" type="hidden"
                                            name="filter">
                                        <button onclick="submitGraphicalFilterTerms(this)"
                                            class="form-control btn btn-secondary m-2" type="submit">Supporting</button>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <form class="form-inline" action="/equipment/filter" method="GET">
                                        <input value="Mine Development,Services,None,None,None" type="hidden"
                                            name="filter">
                                        <button onclick="submitGraphicalFilterTerms(this)"
                                            class="form-control btn btn-secondary m-2" type="submit">Services</button>
                                    </form>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
                <div class="col-lg-4 text-center mb-5">
                    <div class="accordion" id="accordion2">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <img id="access-development-img" class="bd-placeholder-img rounded-circle" width="250"
                                height="250" src="/ui/images/landing/access-development-icon.png"
                                alt="access-development" preserveAspectRatio="xMidYMid slice" focusable="false"
                                role="img" aria-label="Placeholder: 140x140">
                        </button>
                        <h2 class="mt-3">Access Development</h2>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion2">
                            <div class="row">
                                <div class="col-md-4">
                                    <form class="form-inline" action="/equipment/filter" method="GET">
                                        <input value="Access Development,Drilling,None,None,None" type="hidden"
                                            name="filter">
                                        <button onclick="submitGraphicalFilterTerms(this)"
                                            class="form-control btn btn-secondary m-2" type="submit">Drilling</button>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <form class="form-inline" action="/equipment/filter" method="GET">
                                        <input value="Access Development,Blasting,None,None,None" type="hidden"
                                            name="filter">
                                        <button onclick="submitGraphicalFilterTerms(this)"
                                            class="form-control btn btn-secondary m-2" type="submit">Blasting</button>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <form class="form-inline" action="/equipment/filter" method="GET">
                                        <input value="Access Development,Cleaning,None,None,None" type="hidden"
                                            name="filter">
                                        <button onclick="submitGraphicalFilterTerms(this)"
                                            class="form-control btn btn-secondary m-2" type="submit">Cleaning</button>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <form class="form-inline" action="/equipment/filter" method="GET">
                                        <input value="Access Development,Supporting,None,None,None" type="hidden"
                                            name="filter">
                                        <button onclick="submitGraphicalFilterTerms(this)"
                                            class="form-control btn btn-secondary m-2" type="submit">Supporting</button>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <form class="form-inline" action="/equipment/filter" method="GET">
                                        <input value="Access Development,Services,None,None,None" type="hidden"
                                            name="filter">
                                        <button onclick="submitGraphicalFilterTerms(this)"
                                            class="form-control btn btn-secondary m-2" type="submit">Services</button>
                                    </form>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>

            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-4 text-center mb-2">
                    <div class="accordion" id="accordion3">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            <img id="stoping-img" class="bd-placeholder-img rounded-circle" width="250" height="250"
                                src="/ui/images/landing/stoping-icon.png" alt="stoping"
                                preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                                aria-label="Placeholder: 140x140">
                        </button>
                        <h2 class="mt-3">Stoping</h2>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordion3">
                            <div class="row">
                                <div class="col-md-4">
                                    <form class="form-inline" action="/equipment/filter" method="GET">
                                        <input value="Stoping,Drilling,None,None,None" type="hidden" name="filter">
                                        <button onclick="submitGraphicalFilterTerms(this)"
                                            class="form-control btn btn-secondary m-2" type="submit">Drilling</button>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <form class="form-inline" action="/equipment/filter" method="GET">
                                        <input value="Stoping,Blasting,None,None,None" type="hidden" name="filter">
                                        <button onclick="submitGraphicalFilterTerms(this)"
                                            class="form-control btn btn-secondary m-2" type="submit">Blasting</button>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <form class="form-inline" action="/equipment/filter" method="GET">
                                        <input value="Stoping,Cleaning,None,None,None" type="hidden" name="filter">
                                        <button onclick="submitGraphicalFilterTerms(this)"
                                            class="form-control btn btn-secondary m-2" type="submit">Cleaning</button>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <form class="form-inline" action="/equipment/filter" method="GET">
                                        <input value="Stoping,Supporting,None,None,None" type="hidden" name="filter">
                                        <button onclick="submitGraphicalFilterTerms(this)"
                                            class="form-control btn btn-secondary m-2" type="submit">Supporting</button>
                                    </form>
                                </div>

                                <div class="col-md-4">
                                    <form class="form-inline" action="/equipment/filter" method="GET">
                                        <input value="Stoping,Services,None,None,None" type="hidden" name="filter">
                                        <button onclick="submitGraphicalFilterTerms(this)"
                                            class="form-control btn btn-secondary m-2" type="submit">Services</button>
                                    </form>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
                <div class="col-lg-4 text-center mb-2">
                    <div class="accordion" id="accordion4">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                            <img id="logistics-img" class="bd-placeholder-img rounded-circle" width="250" height="250"
                                src="/ui/images/landing/logistics-icon.png" alt="logistics"
                                preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                                aria-label="Placeholder: 140x140">
                        </button>
                        <h2 class="mt-3">Logistics</h2>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion4">
                            <div class="row">
                                <div class="col-md-4">
                                    <form class="form-inline" action="/equipment/filter" method="GET">
                                        <input value="Logistics,Drilling,None,None,None" type="hidden" name="filter">
                                        <button onclick="submitGraphicalFilterTerms(this)"
                                            class="form-control btn btn-secondary m-2" type="submit">Drilling</button>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <form class="form-inline" action="/equipment/filter" method="GET">
                                        <input value="Logistics,Blasting,None,None,None" type="hidden" name="filter">
                                        <button onclick="submitGraphicalFilterTerms(this)"
                                            class="form-control btn btn-secondary m-2" type="submit">Blasting</button>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <form class="form-inline" action="/equipment/filter" method="GET">
                                        <input value="Logistics,Cleaning,None,None,None" type="hidden" name="filter">
                                        <button onclick="submitGraphicalFilterTerms(this)"
                                            class="form-control btn btn-secondary m-2" type="submit">Cleaning</button>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <form class="form-inline" action="/equipment/filter" method="GET">
                                        <input value="Logistics,Supporting,None,None,None" type="hidden" name="filter">
                                        <button onclick="submitGraphicalFilterTerms(this)"
                                            class="form-control btn btn-secondary m-2" type="submit">Supporting</button>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <form class="form-inline" action="/equipment/filter" method="GET">
                                        <input value="Logistics,Services,None,None,None" type="hidden" name="filter">
                                        <button onclick="submitGraphicalFilterTerms(this)"
                                            class="form-control btn btn-secondary m-2" type="submit">Services</button>
                                    </form>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div> <!-- END landing-quick-search -->

        <hr class="featurette-divider">

    </div>

    <!-- FOOTER -->
    <footer id="footer-contacts" class="container">
        <div class="row mb-5">
            <div class="col-md-6">
                <div
                    class="row no-gutters border-0 rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-3">Mandela Mining Precinct</h3>
                        <br><br>
                        <p class="card-text mb-auto">Carlow Rd, cnr Rustenburg Rd,
                        </p>
                        <p class="card-text mb-auto">Melville,</p>
                        <p class="card-text mb-auto">Johannesburg,</p>
                        <p class="card-text mb-auto">2109</p>
                        <p class="card-text mb-auto">Contact: Jean-Jacques Verhaeghe</p>
                        <p class="card-text mb-auto"><i class="fas fa-phone-square"></i> 011 358 0000</p>
                        <p class="card-text mb-auto"><i class="fas fa-envelope"></i> <a
                                href="mailto:jverhaeghe@mandelaminingprecinct.org.za">jverhaeghe@mandelaminingprecinct.org.za</a>
                        </p>
                        <p><i class="fas fa-link"></i> <a
                                href="https://www.mandelaminingprecinct.org.za">www.mandelaminingprecinct.org.za</a></p>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="bd-placeholder-img" width="160" height="160"
                            src="/ui/images/oems/mmp-small-square.jpg" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                        </img>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div
                    class="row no-gutters border-0 rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-3">Mining Equipment Manufacturers of South Africa</h3>
                        <p class="card-text mb-auto">Carlow Rd, cnr Rustenburg Rd,
                        </p>
                        <p class="card-text mb-auto">Melville,</p>
                        <p class="card-text mb-auto">Johannesburg,</p>
                        <p class="card-text mb-auto">2109</p>
                        <p class="card-text mb-auto">Contact: Elizabeth Jansen Van Vuuren</p>
                        <p class="card-text mb-auto"><i class="fas fa-phone-square"></i> 011 358 0001</p>
                        <p class="card-text mb-auto"><i class="fas fa-envelope"></i> <a
                                href="mailto:admin@memsa.org.za">admin@memsa.org.za</a>
                        </p>
                        <p><i class="fas fa-link"></i> <a href="https://memsa.org.za/">www.memsa.org.za</a></p>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="bd-placeholder-img" width="160" height="150" src="/ui/images/oems/memsa.jpeg"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                        </img>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mb-3">
            <h3>TARA is funded by</h3>
        </div>
        <div class="row">
            <img class="img-fluid mx-auto center mb-5" height="160" src="/ui/images/oems/dsi.jpg"
                preserveAspectRatio="xMidYMid slice" focusable="false">
            </img>
        </div>
        <div class="mt-5">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>&copy; 2018-2019 MEMSA &middot; <a href="/terms">Privacy</a> &middot; <a href="/terms">Terms</a></p>
        </div>
    </footer>

</main>

<% include partials/footer%></hr>